<div style="width: 600px; margin: 0 auto; padding: 10px; border: 1px #b1d1e6 solid">
<p style="font-weight: bold; text-align: center;">My-Deal.vn - Xác nhận đơn hàng số #[[order_id]]</p>
<p>Chúc mừng bạn đã mua thành công sản phẩm dịch vụ tại <a href="http://www.my-deal.vn">www.my-deal.vn</a>. Bạn cần đem 
theo phiếu (voucher) của <strong>my-deal.vn</strong> đến nơi cung cấp sản phẩm/dịch vụ để được 
nhận sản phẩm/dịch vụ giảm giá.</p>
<p>
<strong>Chi tiết đơn hàng</strong></p>
<table width="100%">
	<tr>
		<td style="width: 200px; text-align: right;">Ngày đặt hàng:</td>
		<td>[[order_datetime]]</td>
	</tr>
	<tr>
		<td style="text-align: right;">Ghi chú:</td>
		<td>[[order_note]]</td>
	</tr>
</table>


<table style="width: 100%; border-collapse: collapse; border: 1px #b1d1e6 solid;">
	<tr>
		<td style="width:30px; padding: 4px; background-color: #ecffd8; border: 1px #b1d1e6 solid; text-align: center;">
		<strong>STT</strong></td>
		<td style="padding: 4px; background-color: #ecffd8; border: 1px #b1d1e6 solid;">
		<strong>Sản phẩm</strong></td>
		<td style="width: 30px; padding: 4px; background-color: #ecffd8; border: 1px #b1d1e6 solid; text-align: center;">
		<strong>SL</strong></td>
		<td style="width:80px; padding: 4px; background-color: #ecffd8; border: 1px #b1d1e6 solid; text-align: center;">
		<strong>Đơn giá</strong></td>
		<td style="width:100px; padding: 4px; background-color: #ecffd8; border: 1px #b1d1e6 solid; text-align: center;">
		<strong>Thành tiền</strong></td>
	</tr>
	[[order_products]]
	<tr>
		<td colspan="5" style="padding: 4px; text-align: right; background-color: #ecffd8; border: 1px #b1d1e6 solid;">
		<strong>Tổng số tiền: [[order_pricesum]]</strong></td>
	</tr>
</table>

<p><strong>Thông tin giao hàng</strong></p>

<table width="100%">
	<tr>
		<td style="width: 200px; text-align: right">Tình trạng:</td>
		<td>Chờ giao hàng</td>
	</tr>
	<tr>
		<td style="text-align: right">Thời gian giao hàng dự kiến:</td>
		<td>Từ 3- 5 ngày không tính thứ 7 &amp; CN</td>
	</tr>
	<tr>
		<td style="text-align: right">Người nhận:</td>
		<td>[[order_fullname]]</td>
	</tr>
	<tr>
		<td style="text-align: right">Địa chỉ:</td>
		<td>[[order_address]]</td>
	</tr>
	<tr>
		<td style="text-align: right">Điện thoại:</td>
		<td>[[order_tel]]</td>
	</tr>
</table>

<p><strong>Điều kiện nhận hàng<br /><br />
</strong>Để đảm bảo quyền lợi khách hàng, tránh trường hợp giả mạo, khách hàng cần lưu ý: khi nhận phiếu từ nhân viên giao hàng của hotdeal nếu thiếu 1 trong 3 yêu cầu dưới đây quý khách có quyền từ chối nhận hàng:
</p>
<ul style="list-style: none">
	<li>1.	Nhân viên giao hàng phải mặc đồng phục (áo có logo của công ty MyDeal)</li>
	<li>2.	Nhân viên phải xuất trình thẻ nhân viên</li>
	<li>3.	Khách hàng phải ký vào biên bản giao hàng</li>
</ul>
<p>Quyền lợi của khách hàng luôn là trách nhiệm của MyDeal. MyDeal sẽ không giải 
quyết bất kỳ khiếu nại nào từ khách hàng nếu 1 trong 3 điều kiện trên không được 
đáp ứng.</p>

</div>
